<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Evreka</title>
</head>
<body>
    
    
    
    <div style="margin-top:150px;" class="container col-md-6">
        <h3>Evreka - BinOpt</h3>
        
        <hr>

        
        {% if bins %}

        <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#</th>
                    <th scope="col">Enlem</th>
                    <th scope="col">Boylam</th>
                    <th scope="col">Collection Freq</th>
                    <th scope="col">Last Collection</th>
                    <th scope="col">İşlem</th>
                  </tr>
                </thead>
                <tbody>
                    
                    {% for bin in bins %}
                    <tr>
                        <th scope="row">{{nav.id}}</th>
                        <td>{{bin.latitude}}</td>
                        <td>{{bin.longitude}}</td>
                        <td>{{bin.collection_frequency}}</td>
                        <td>{{bin.last_collection}}</td>
                        <td><a href="/delete/{{bin.id}}" class="btn btn-danger">Sil</a></td>
                    </tr>
                    {% endfor %}
                        
                  <!---->
                </tbody>
              </table>
            
        {% else %}

            <div class="alert alert-danger">
                Herhangi bir kayıt yok
            </div>
            
        {% endif %}
            

        
    </div>


        
    
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>